# Bologna TSP

This uses the code from [these slides from Bologna Business School](http://cs.unibo.it/~tong.liu3/mzn/slides_mzn.pdf).

In [3]:
 %load_ext iminizinc

The iminizinc extension is already loaded. To reload it, use:
  %reload_ext iminizinc

In [4]:
import pandas as pd
from geopy.distance import great_circle

In [5]:
cities = pd.read_csv("data/city.csv")

In [6]:
cities

              City   Latitude   Longitude
0       Montgomery  32.361538  -86.279118
1          Phoenix  33.448457 -112.073844
2      Little Rock  34.736009  -92.331122
3       Sacramento  38.555605 -121.468926
4           Denver  39.739167 -104.984167
5         Hartford  41.767000  -72.677000
6            Dover  39.161921  -75.526755
7      Tallahassee  30.451800  -84.272770
8          Atlanta  33.760000  -84.390000
9            Boise  43.613739 -116.237651
10     Springfield  39.783250  -89.650373
11    Indianapolis  39.790942  -86.147685
12      Des Moines  41.590939  -93.620866
13          Topeka  39.040000  -95.690000
14       Frankfort  38.197274  -84.863110
15     Baton Rouge  30.458090  -91.140229
16         Augusta  44.323535  -69.765261
17       Annapolis  38.972945  -76.501157
18          Boston  42.235200  -71.027500
19         Lansing  42.733500  -84.546700
20      Saint Paul  44.950000  -93.094000
21         Jackson  32.320000  -90.207000
22  Jefferson City  38.572954  -92.189283
23          Helana  46.595805 -112.027031
24         Lincoln  40.809868  -96.675345
25     Carson City  39.160949 -119.753877
26         Concord  43.220093  -71.549127
27         Trenton  40.221741  -74.756138
28        Santa Fe  35.667231 -105.964575
29          Albany  42.659829  -73.781339
30         Raleigh  35.771000  -78.638000
31        Bismarck  48.813343 -100.779004
32        Columbus  39.962245  -83.000647
33   Oklahoma City  35.482309  -97.534994
34           Salem  44.931109 -123.029159
35      Harrisburg  40.269789  -76.875613
36      Providence  41.823550  -71.422132
37        Columbia  34.000000  -81.035000
38          Pierre  44.367966 -100.336378
39       Nashville  36.165000  -86.784000
40          Austin  30.266667  -97.750000
41  Salt Lake City  40.754700 -111.892622
42      Montpelier  44.266390  -72.571940
43        Richmond  37.540000  -77.460000
44         Olympia  47.042418 -122.893077
45      Charleston  38.349497  -81.633294
46         Madison  43.074722  -89.384444
47        Cheyenne  41.145548 -104.802042

In [9]:
cdict = cities.set_index('City').T.to_dict('list')

In [29]:
keys = list(cdict.keys())
# Can't do all 48 in a reasonable amount of time! 
keys = keys[:14] # 14 is the limit for < 1 minute run time.

# Here are values for the variables/parameters shared with MiniZinc:
n = len(keys)
dist = [[int(great_circle(tuple(cdict[key1]), tuple(cdict[key2])).miles)
           for key1 in keys]
          for key2 in keys]
city_name = keys
start_city = keys.index('Hartford') + 1 #
end_city = keys.index('Dover') + 1
print('n = ',n, '\ncity_name =', city_name, '\nstart_city = ', start_city, '\nend_city = ',end_city)

n =  14
city_name = ['Montgomery', 'Phoenix', 'Little Rock', 'Sacramento', 'Denver', 'Hartford', 'Dover', 'Tallahassee', 'Atlanta', 'Boise', 'Springfield', 'Indianapolis', 'Des Moines', 'Topeka']
start_city =  6
end_city =  7

In [30]:
%%minizinc -m bind
include "globals.mzn";

int: n;
array [1..n,1..n] of int: dist;
int: start_city;
int: end_city;

array[1..n] of var 1..n: city;
    
constraint city[1] = start_city;
constraint city[n] = end_city;
constraint all_different(city);

var int: total_distance = sum(i in 2..n)(dist[city[i-1],city[i]]);
solve minimize total_distance;

In [31]:
city

[6, 12, 11, 13, 14, 5, 10, 4, 2, 3, 1, 8, 9, 7]

In [32]:
[city_name[i-1] for i in city]

['Hartford',
 'Indianapolis',
 'Springfield',
 'Des Moines',
 'Topeka',
 'Denver',
 'Boise',
 'Sacramento',
 'Phoenix',
 'Little Rock',
 'Montgomery',
 'Tallahassee',
 'Atlanta',
 'Dover']

## Bibliography

* [GitHub site for TSP solved for 48 US States.](https://github.com/toddwschneider/shiny-salesman) But the data is in binary. 
* [Here is longitudes and latitudes](http://www.xfront.com/us_states/), then use [this](https://pypi.org/project/geopy/) to calculate the distances.